<html ng-app="loja">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<meta charset="utf-8">
</head>
<body>
	<h1>Itens Carrinho</h1>
	
	<label>Filtro: <input type="text" ng-model="filtro" class="form-control border-input" /></label><br/>
	<br/>
	
	<div ng-controller="lojaController">
		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="header">
								<h4 class="title">Tabela de Livros</h4>

							</div>
							<div class="content table-responsive table-full-width">
								<table class="table table-striped">
									<thead>
										<!--<th>ID</th>-->
										<th>Capa</th>
										<th>Título</th>
										<th>Quantidade</th>
										<th>Valor</th>
										<th>Páginas</th>
										<th>Fornecedor</th>
										<th>Excluir</th>
									</thead>
									<tbody>
										<tr ng-repeat="item in itensCarrinho | filter:filtro">
											<td><img src="{{item.livro.foto}}" style="width: 40px; height: 43px;" /></td>
											<td>{{item.livro.titulo}}</td>
											<td>{{item.quantidade}}</td>
											<td>{{item.livro.valor}}</td>
																						
											<td><a href ng-click="removerLivroCarrinho(item.livro.id)">Excluir
											<img alt="Excluir" src="resources/img/delete-icon.png">
											</a></td>
										</tr>
									</tbody>
								</table>
								<center>
								<button type="button" class="btn btn-info btn-fill btn-wd" ng-click="anterior();">Anterior</button>
								<button type="button" class="btn btn-info btn-fill btn-wd" ng-click="proximo();">Próximo</button>
								</center>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>